<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
<PropertyGroup>
 <WebPublishMethod>MSDeploy</WebPublishMethod>
 <ResourceId>/subscriptions/3d5918dd-61a6-4b75-94a2-d4c94baf11e1/resourcegroups/SHAPER/providers/Microsoft.Web/sites/SHAPER</ResourceId>
 <ResourceGroup>SHAPER</ResourceGroup>
 <RuntimeIdentifier />
 <PublishProvider>AzureWebSite</PublishProvider>
 <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
 <LastUsedPlatform>Any CPU</LastUsedPlatform>
 <SiteUrlToLaunchAfterPublish>https://shaper.azurewebsites.net</SiteUrlToLaunchAfterPublish>
 <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
 <ExcludeApp_Data>true</ExcludeApp_Data>
 <MSDeployServiceURL>shaper.scm.azurewebsites.net:443</MSDeployServiceURL>
 <DeployIisAppPath>SHAPER</DeployIisAppPath>
 <RemoteSitePhysicalPath />
 <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
 <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
 <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
 <EnableMSDeployBackup>true</EnableMSDeployBackup>
 <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
 <UserName>$SHAPER</UserName>
 <_SavePWD>true</_SavePWD>
 <_DestinationType>AzureWebSite</_DestinationType>
 <PublishDatabaseSettings>
<Objects>
 <ObjectGroup Name="SunnyCS" Order="1" Enabled="False">
<Destination Path="" />
<Object Type="DbDacFx">
 <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SHAPER.mdf;Integrated Security=True" includeData="False" />
 <Source Path="$(IntermediateOutputPath)AutoScripts\SunnyCS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
</Object>
<UpdateFrom Type="Web.Config">
 <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=|DataDirectory|\SHAPER.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
</UpdateFrom>
 </ObjectGroup>
</Objects>
 </PublishDatabaseSettings>
</PropertyGroup>
<ItemGroup>
 <MSDeployParameterValue Include="$(DeployParameterPrefix)SunnyCS-Web.config Connection String" />
</ItemGroup>
</Project>